@font-face {
  font-family: "UniversLTStd";
  font-weight: bold;
  src: url('../fonts/univers-bold.eot?#iefix');
  src: url('../fonts/univers-bold.eot?#iefix') format("eot"),
  url('../fonts/univers-bold.woff2') format("woff2"),
  url('../fonts/univers-bold.woff') format("woff"),
  url('../fonts/univers-bold.ttf') format("truetype"),
  url('../fonts/univers-bold.svg') format("svg")
}

@font-face {
  font-family: "UniversLTStd";
  font-weight: normal;
  src: url('../fonts/univers.eot?#iefix');
  src: url('../fonts/univers.eot?#iefix') format("eot"),
  url('../fonts/univers.woff2') format("woff2"),
  url('../fonts/univers.woff') format("woff"),
  url('../fonts/univers.ttf') format("truetype"),
  url('../fonts/univers.svg') format("svg")
}

