@tailwind utilities;

@import "variables";

@layer utilities {
  .tw-grid-container {
    //TODO: Why does the container have a width of 11/12 and isn't using the full width?
    @apply tw-w-11/12;
    @apply tw-grid tw-grid-cols-mobile;
    grid-gap: $grid-gutter-phone;

    @screen md {
      @apply tw-grid-cols-tablet;
      grid-gap: $grid-gutter-tablet;
    }

    @screen lg {
      @apply tw-grid-cols-desktop;
      grid-gap: $grid-gutter-desktop;
    }
  }

  // TODO: Will be implemented in ticket PVWEB-405
  .tw-container-fluid {
    position: relative;
  }
}
