@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin box-shadow {
  box-shadow: 0 40px 40px -40px #ccc;
}

/**
  Multiline text-overflow
 */
 @mixin text-overflow($lines: 4, $text-overflow: ellipsis) {
  display: block;
  /* stylelint-disable */
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  /* stylelint-enable */
  overflow: hidden;
  text-overflow: $text-overflow;
}
