@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin scrollbar-nav {
  &::-webkit-scrollbar-track {
    @apply tw-bg-pv-white;
  }

  &::-webkit-scrollbar {
    @apply tw-bg-pv-white;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    @apply tw-bg-pv-red;
  }
}

@mixin box-shadow {
  box-shadow: 0 40px 40px -40px #ccc;
}

/**
  Multiline text-overflow
 */
@mixin text-overflow($lines: 4, $text-overflow: ellipsis) {
  display: block;
  /* stylelint-disable */
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  /* stylelint-enable */
  overflow: hidden;
  text-overflow: $text-overflow;
}

/**
  Border bottom with rounded corner top-left and top-right
  can be used as after element
 */
@mixin rounded-border-bottom {
  &::after {
    content: '';
    height: 0.25rem;
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0;
    background-color: #dd1541;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
  }
}

@mixin fill-available {
  width: 100%;
  /* stylelint-disable value-no-vendor-prefix */
  width: -moz-available;
  width: -webkit-fill-available;
  /* stylelint-enable value-no-vendor-prefix */
  width: stretch;
}
