@tailwind base;
@tailwind utilities;

@import 'variables';

@layer base {
  h1,
  .tw-subline-1 {
    color: $pv-grey-16;
    font-size: 28px;
    line-height: 36px;

    @screen lg {
      font-size: 36px;
      line-height: 44px;
    }
  }

  h2,
  .tw-subline-2 {
    color: $pv-grey-16;
    font-size: 24px;
    line-height: 32px;

    @screen lg {
      font-size: 32px;
      line-height: 40px;
    }
  }

  h3,
  .tw-subline-3 {
    color: $pv-grey-16;
    font-size: 20px;
    line-height: 28px;

    @screen lg {
      font-size: 28px;
      line-height: 36px;
    }
  }

  h4,
  .tw-subline-4 {
    color: $pv-grey-16;
    font-size: 16px;
    line-height: 24px;

    @screen lg {
      font-size: 24px;
      line-height: 32px;
    }
  }

  h5,
  .tw-subline-5 {
    color: $pv-grey-16;
    font-size: 16px;
    line-height: 24px;

    @screen lg {
      font-size: 20px;
      line-height: 28px;
    }
  }

  h6,
  .tw-subline-6 {
    color: $pv-grey-16;
    font-size: 16px;
    line-height: 24px;

    @screen lg {
      font-size: 16px;
      line-height: 24px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  p {
    font-size: 14px;
    line-height: 24px;

    @screen lg {
      font-size: 16px;
    }
  }

  button {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: $pv-grey-16;

    @screen lg {
      font-size: 16px;
      line-height: 24px;
    }
  }

  input {
    font-size: 16px;
    line-height: 24px;
  }

  label {
    font-size: 12px;
    line-height: 24px;
  }
}

.tw-hero {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  color: $pv-grey-16;

  @screen lg {
    font-size: 56px;
    line-height: 64px;
  }
}

.tw-main-nav {
  font-size: 24px;
  line-height: 32px;
  color: $pv-grey-16;
}

.tw-sub-nav {
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: $pv-grey-48;
}

.tw-teaser {
  font-size: 16px;
  line-height: 24px;
  color: $pv-grey-16;

  @screen lg {
    font-size: 20px;
    line-height: 28px;
  }
}

.tw-text-inverse {
  color: white;
}
