$black: #000;
$white: #fff;

$pv-red: #dd1541;
$pv-red-darker: #c01238;
$pv-red-lighter: #e13258;

$pv-yellow: #f2e600;
$pv-yellow-darker: #e6d200;
$pv-yellow-lighter: #f9f300;

$pv-green: #6c7;

$pv-warning: #ffa64d;

$pv-grey-16: #292929;
$pv-grey-32: #515151;
$pv-grey-48: #7a7a7a;
$pv-grey-64: #a3a3a3;
$pv-grey-80: #ccc;
$pv-grey-96: #f5f5f5;

$primary: $pv-red;
$secondary: $white;
$callToAction: $pv-yellow;
$inverted: $pv-grey-32;

$grid-gutter-phone: 16px;
$grid-gutter-tablet: 24px;
$grid-gutter-desktop: 32px;
