// Global file to have all z-index values in one place
$image-lightbox: 10000;
$tooltip: 10000;
$generic-modal: 110;
$sticky-bar: 100;
$popup: 30;
$header: 20;
$generic-carousel-arrow: 15;
$vacuum-range-slider-dot: 20;
$loading-spinner-overlay: 10;
$language-switcher: 10;
$vacuum-range-slider-process: 10;
$tooltip-arrow: 10;
$error-image-stage: 10;
$home-stage-slider: 10;
