:root {
  --pv-grey-16: #292929;
  --pv-grey-32: #525252;
  --pv-grey-48: #7a7a7a;
  --pv-grey-80: #ccc;
  --pv-grey-96: #f5f5f5;
  --pv-red: #dd1541;
  --pv-red-lighter: #ff184b;
  --pv-white: #fff;
  --pv-black: #000;
}
